doctype html 
html 
    head 
        title Mon (SUPER) site E-commerce 
        link(rel="stylesheet", href="/css/index.css")
    body 
        header 
            h1 Mon magnifique site 

        main 
            block content 

include footer