doctype html
html 
    head 
        meta(name='description' content='Site de vente en ligne')
        title Boutique en ligne 
        link(rel="stylesheet", href="/css/index.css")
    
    body 
        nav 
            ul 
                li 
                    a(href="/products") Produits
                li 
                    a(href="/") Accueil
                li 
                    a(href="/contact") Contactez-nous
        
        block content